.color-red {
    background-color: #cb4c47;
    color: #ffffff;
}

.block-scroll {
    max-width: 100%;
    overflow-x: hidden;
}

.text-align-center {
    text-align: center;
}

.dialog-s {
    width: 200px !important;
}

.dialog-m {
    width: 450px !important;
    max-width: 40vw;
}

.dialog-l {
    width: 700px !important;
}

.dialog-300 {
    width: 300px !important;
}